# dependencies
vendor
node_modules
/.pnp
.pnp.js
composer.lock

# testing
/coverage
packages/*/coverage
cypress/results
test-results

# production
build
dist
!packages/elements/dist
docs-auto
dist-storybook

# misc
*.sublime-project
*.sublime-workspace
*.komodoproject
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.vscode
.idea
.nyc_output
.awcache
.cache-loader
.cache
.rpt2_cache
.eslintcache
/examples-dev

# logs
*.log*
*-debug.log*
*-error.log*
/examples/react-gatsby/yarn.lock
/examples/react-cra/yarn.lock
/examples/angular/yarn.lock

# Vim buffer files
*.swp

# Stoplight style guides
.stoplight/styleguide.json
.stoplight/custom-functions
.spectral.json

